/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 13, 2018, 12:15:34 AM
    Author     : ASW
*/

.chart-title {
  -fx-text-fill: #4682b4;
  -fx-font-size: 1.3em;
}

.chart-series-line {    
    -fx-stroke-width: 2px;
    -fx-effect: null;
}

.default-color1.chart-series-line { -fx-stroke: #e9967a; }
.default-color0.chart-series-line { -fx-stroke: black; }
.default-color2.chart-series-line { -fx-stroke: #dda0dd; }

