/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 13, 2018, 12:15:34 AM
    Author     : ASW
*/

.chart-title {
  -fx-text-fill: #4682b4;
  -fx-font-size: 1.3em;
}




/*.default-color0.chart-series-line { -fx-stroke: black; -fx-stroke-width: 5px; }
.default-color1.chart-series-line { -fx-stroke: #dda0dd; -fx-stroke-width: 1.3px; }*/

.default-color0.chart-series-line { -fx-stroke: blueviolet; -fx-stroke-width: 6px;}
.default-color1.chart-series-line { -fx-stroke: #f0e68c; -fx-stroke-width: 4px;}

 
.default-color0.chart-line-symbol { -fx-background-color: black, white; }
.default-color1.chart-line-symbol { -fx-background-color: #f0e68c; }



.axis{
  -fx-tick-label-font-size: 1em;
}

/*.chart-line-symbol{-fx-background-color:white}
    
.chart-legend-item-symbol{-fx-background-color:white}*/

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {   
    -fx-background-color:gainsboro;
   
    -fx-stroke: transparent;
    -fx-size:50;
    -fx-alignment: CENTER ;    
    -fx-text-alignment: center;

}
.table-row-cell:filled:hover {

    -fx-size:50;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;


}
.table-view:row-selection {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-fixed-cell-size: 50;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;

}

.table-view .table-column{
    -fx-text-alignment: center;
    -fx-alignment: CENTER 

}

.button{
    -fx-background-color:white;
    -fx-border-color: black;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
        
}

 